p style="color: green" = notice

= render @book

.reviews-section
  h3 = "Reviews (#{@book.reviews.count})"

  - if @book.reviews.any?
    .reviews-list
      - @book.reviews.includes(:user).each do |review|
        = render 'reviews/review', review: review
  - else
    p
      em No hay reviews aún. ¡Sé el primero en agregar una!

  .add-review
    = link_to "Agregar Review", new_book_review_path(@book), class: "btn btn-primary"

.book-actions
  = link_to "Edit this book", edit_book_path(@book)
  |  |
  = link_to "Back to books", books_path

  = button_to "Destroy this book", @book, method: :delete
